body{
    background-color: #283149;
    text-align: center;
}

h1{
    font-family: "Arvo", cursive;
    font-size: 4rem;
    text-shadow: 3px 0px #a7004b;
    color:#DBEDF3;
}
.set{
    text-align:center;
    margin: 10% auto;
}

.w {
  background-image: url("images/tom2.png");
}

.a {
  background-image: url("images/tom1.png");
}

.s {
  background-image: url("images/tom3.png");
  
}

.d {
  background-image: url("images/tom4.png");
  
}

.j {
  background-image: url("images/crash.png");
}

.k {
  background-image: url("images/snare.png");
}

.l {
  background-image: url("images/kick.png");
}

.game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }

.drum{
    text-align:center;
    display: inline-block;
    color:#a7004b;
    font-weight: bold;
    font-family:"Arvo", cursive;
    margin: 10px;
    padding-bottom:5px;
    font-size:5rem;
    width:150px;
    height:150px;
    line-height: 2;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    border: 10px solid #404B69;
    
}

